{% extends 'base.html.twig' %}

{% block title %}
	Inscription
{% endblock %}

{% block titlePage %}
	Inscription
{% endblock %}

{% block body %}
	<div class="container">
		{{form_start(form)}}
		{{form_widget(form)}}
		<input type="submit" value="valider" class="btn btn-primary">
		{{form_end(form)}}
	</div>

{% endblock %}
